// ! main HomePage 
// * disini berada style berulang dari inti konten main


%Loop_Card_Swiper_Style {
  * {
    text-decoration: none;
  }

  .card {

    margin: 0;
    padding: 0;


    img {
      border-radius: 10px;
    }

    p.titleNarasi {
      font-size: 12px;
      margin-top: -15px;
      text-align: left;
    }

    .judulBerita {
      margin-top: -10px;
      color: white;
      font-size: 16px;
      font-weight: 300;
    }

    .tanggalUpdate {
      margin-top: -1px;
      font-size: 12px;
      color: gray;
    }
  }

  .tombolSlide {
    transform: scale(.8);
    color: white;
  }

  .swiper-button-next {
    transform: translateY(-70px);
    margin-right: -10px;
  }

  .swiper-button-prev {
    transform: translateY(-70px);
    margin-left: -10px;
  }
}






$background:rgb(248, 246, 246);

%only_Third_And_Fourth_Section {
  height: 800px;
  background-color: $background;
  overflow: hidden;

  .mySwiper {
    height: 380px;
    background-color: transparent;
    box-sizing: border-box;

    .swiper-wrapper {
      height: 300px;

      .swiperslidecard {
        background-color: $background;

        .card {
          background-color: salmon;

          border: none;

          .judulBerita {
            margin-top: -10px;
            color: black;
            font-size: 16px;
            font-weight: 300;
          }
        }
      }
    }
  }

  @media screen and (min-width:768px) {
    .mySwiper {
      height: 350px;
    }
  }
}
