//! allsection main
//* berisi semua setingan section di main pada home page

@use "mainHomePage";


.second-section,
.third-section,
.fourth-section,
.fifth-section {
  @extend %Loop_Card_Swiper_Style;

  h1.subJudul {
    text-align: left
  }
}

.third-section,
.fourth-section,
.fifth-section {
  @extend %only_Third_And_Fourth_Section;
}






// ?setingan sendiri


// todo 2th section
.second-section {

  .swiperslidecard {

    transform: translateY(-360px);
    z-index: 999999;
    background-color: black;
    position: relative;
    margin-bottom: -360px;

    .card {
      background-color: black;
      margin-top: 35px;
    }

    .mySwiper {
      overflow: hidden;
      height: 400px;
      background-color: transparent;
      margin-top: -30px;

      .swiper-wrapper {
        display: flex;
        align-items: center;
      }

    }
  }
}

// todo end 2th section







// todo end 4th section
.fourth-section,
.fifth-section {
  margin-top: -350px;
}

// todo end 4th section
