//! Header dan Navigasi bar



.font-tahoma {
  font-family: 'Tahoma,  Verdana, sans-serif;

}


//Header
header {

  .rightHeaderItem {
    width: 100vw;
  }

  .smkLogoText {
    font-size: 16px;
    font-weight: bold;
  }



}

.tombolSearch button {
  background-color: transparent;
  transform: translate(10px, 5px);
  position: absolute;
  border: none;
  margin: auto;
}

#searchContent {
  margin: auto;
  width: 300px;
  padding: 0 35px;


  &::placeholder {
    color: gray;
    font-size: 14px;
  }
}

#btnLogin {
  font-size: 16px;
  margin: 20px auto;

}

//end Header


// responsive
@media screen and (min-width:768px) {
  #searchContent {
    width: 350px;
    padding: 5px 40px;
  }
}
