//! allsection main
//* berisi semua setingan section di main pada home page, berisi pada bagian main

// impor file lain
@use "mainHomePage"; //import file _mainHomePage


.second-section,
.third-section,
.fifth-section {
  @extend %Loop_Card_Swiper_Style; //diimport dari _mainsection


}


.third-section,
.fifth-section {
  @extend %mainSection; //diimport dari _mainSection
}




// ?Selft Seeting

.third-section {
  margin-top: 300px;
}


// todo 2th section
.second-section {
  transform: translateY(50px);

  .swiperslidecard {
    transform: translateY(0px);
    z-index: 999999;
    background-color: black;
    position: relative;
    margin-bottom: -300px;

    .card {
      background-color: black;
      margin-top: 35px;
    }

    .mySwiper {
      overflow: hidden;
      height: 450px;
      background-color: transparent;
      margin-top: -30px;

      .swiper-wrapper {
        display: flex;
        align-items: center;
      }
    }
  }
}





// todo end 4th & 5thsection 



.fourth-section {
  height: 800px;
  margin-top: -100px;

  .rightItem {
    height: 200px;

    .TextBerita {
      padding: 0 20px;

      .judulBerita {
        font-size: 20px;
        width: 100%;
        font-weight: 600;
      }

    }

    .footerItem {

      .tanggalUpdate {
        font-size: 14px;
      }
    }
  }
}

.fifth-section {
  margin-top: -400px;
}

// todo end 4th section




// ! RESPONSIVE BREAK POIN =====================================================================

@media screen and (min-width:768px) {

  .second-section {
    transform: translateY(-200px);
  }

  .swiperslidecard {
    transform: translateY(0px);
  }

  .mySwiper {
    height: 400px;
  }

  .third-section {
    margin-top: 100px;
  }

  .fourth-section {
    height: 600px;

    .rightItem {
      height: 200px;

      .TextBerita {
        // transform: translateY(-50px);

        h1.judulBerita {
          font-size: 20px;
        }

        p.paragrafBerita {

          font-size: 10px;
        }
      }
    }
  }


  .fifth-section {
    margin-top: -300px;
  }


}




// ! RESPONSIVE BREAK POIN =====================================================================

@media screen and (min-width:1000px) {
  .fourth-section {
    height: 700px;

    .rightItem {
      height: 330px;

      .TextBerita {
        // transform: translateY(-50px);

        h1.judulBerita {
          font-size: 24px;
        }

        p.paragrafBerita {

          font-size: 16px;
        }
      }
    }
  }
}